Repository inveniosoftware/rfcs, pull requests merged in 2021-08, with the labels that each got.

#49 framework: authentication
  rfcs/framework-0010-spa-authentication.md
  rfcs/framework-0049-authentication.md
Labels: Framework

#35 framework: error handling and response for REST
  rfcs/framework-0035-error-handling-and-response.md
Labels: Framework, Proposal: Accepted, RDM

#40 framework: record relations
  rfcs/framework-0040-relations.md
Labels: Framework, ILS, Proposal: Accepted, RDM
